<div class="container">
  <div class="content">
    <div class="photo"></div>
    <div class="form">
      <div class="form-title">SIGN UP</div>
      <div class="form-content">
        <div class="form-content-name">
          <div class="">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" />
          </div>
          <div>
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" />
          </div>
        </div>
        <div class="form-content-email">
          <label for="email">Email</label>
          <input type="email" id="email" />
        </div>
      </div>
      <div class="form-submit">
        <button>Signup</button>
      </div>
    </div>
  </div>
</div>
