@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/sizes.scss";

body {
  margin: 0 !important;
}

//snackbar styles

.snackbar {
  position: absolute;
  top: 5%;
  right: 5%;
  height: fit-content;
  color: $white-color;
  background-color: $success-color;
  @include element-font;
}
.mat-snack-bar-handset .mat-snack-bar-container {
  max-width: 53% !important;
}
