//colors
$main-color: rgb(233, 57, 104);
$white-color: white;
$black-color: black;
$normal-border-color: rgb(216, 218, 217);
$selected-border-color: rgb(0, 162, 232);
$error-border-color: red;
$error-text-color: red;
$success-color: green;
